{% load query_transform %}


{% if is_paginated %}
          <div class="pagination">
            {% if page_obj.has_previous %}
              <a href="?{% query_transform request page=1 %}"> &lt;&lt;&nbsp;&nbsp;</a>
              <a href="?{% query_transform request page=page_obj.previous_page_number %}">&lt;&nbsp;</a>
            {% endif %}

              Page {{ page_obj.number }} / {{ paginator.num_pages }}

            {% if page_obj.has_next %}
              <a href="?{% query_transform request page=page_obj.next_page_number %}">&nbsp;&gt;&nbsp;&nbsp;</a>
              <a href="?{% query_transform request page=paginator.num_pages %}">&gt;&gt;</a>
            {% endif %}
          </div>
        {% endif %}